#capture-area {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  cursor: crosshair;
  z-index: 9999;
  overflow: hidden !important;
}
#selection {
  position: absolute;
  border: 2px solid #fff;
  background: rgba(255,255,255,0.3);
}
.cursor-progress {
  cursor: progress !important;
}
